body {
    margin: 0;
    padding: 0;
    font-family: 'HelveticaNeue';
    background-color: #e8e8e8;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    display: inline-block;
    vertical-align: middle;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    display: inline-block;
    vertical-align: middle;
    color: #E9ECED;
    font-weight: 700;
}

/**** SECTION GRUPPEN ****/

#personer {
    position: relative;
    width: 100vw;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1600px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#person_container {
    flex-basis: 250px;
    justify-content: center;
}

#person_indhold {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.person {
    align-self: center;
    width: 10vw;
    height: 10vw;
    background-color: #f19638;
    border-radius: 50%;
    flex-grow: 1;

}

.persontekst {
    text-align: center;
    flex-grow: 1;
}

/**** SECTION ANIMATION ****/

#animation {
    height: 500px;
    width: 100vw;
    background-color: yellow;

}

/**** SECTION Historie ****/

#historie {
    padding: 10px;
    background-color: #202532;
    color: #E9ECED;
    display: flex;
    flex-wrap: wrap;

}

#historie h2 {
    flex-basis: 100vw;
}


.ide_tekst {
    width: 50vw;
    flex-grow: 1;
    flex-basis: 500px;
    padding: 2vw;
}

.ide_billeder {
    height: auto;
    width: 50vw;
    flex-grow: 1;
    flex-basis: 500px;
}

.ide_billed_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.ide_billed_container img {
    height: auto;
    width: 100%;
    padding: 5px;
}

/**** SECTION styletile ****/

/**** SECTION storyboard ****/

#storyboard {
    background-color: #f4912d;
    padding: 1vw;
    color: #E9ECED;
    text-align: center;
}

#storyboard img {
    height: auto;
    width: 50vw;
}

#design {
    padding: 1vw;
    background-color: #202532;
    color: #E9ECED;
}

#koncept {
    text-align: center;
}

#koncept img {
    width: auto;
    height: 30vw;
}

#styletile {
    text-align: center;
}

#styletile img {
    width: auto;
    height: 40vw;

}

#ads {
    text-align: center;
}

#ads img {
    width: auto;
    height: 30vw;
    padding: 1%;

}

#karakter {
    text-align: center;
}

#karakter img {
    width: auto;
    height: 30vw;
    padding: 1%;
}

#layoutdiagram {
    background-color: #f4912d;
    padding: 1vw;
    color: #E9ECED;
    text-align: center;
}

#layoutdiagram img {
    width: auto;
    height: 25vw;
    padding: 20px;
    text-align: center;
}

#sekvensdiagram {
    padding: 1vw;
    background-color: #202532;
    color: #E9ECED;
    text-align: center;
}

#sekvensdiagram img {
    width: auto;
    height: 25vw;
    padding: 20px;

}

#assetliste {
    background-color: #f4912d;
    padding: 1vw;
    color: #E9ECED;
    text-align: center;

}

#assetliste img {
    width: auto;
    height: 25vw;
    padding: 20px;

}

#dokumentation {
    padding: 1vw;
    background-color: #202532;
    color: #E9ECED;
}

#fernisering {
    background-color: #f4912d;
    padding: 1vw;
    color: #E9ECED;

}

#trello {
    padding: 1vw;
    background-color: #202532;
    color: #E9ECED;
}

#sections {
    padding: 1vw;
}
